@()

<button ng-click="plt.newPlotInGraph($index)" type="button" class="btn btn-primary btn-block">
    New Plot
</button>
<div class="full-page">

    <div class="panel panel-default" id="plotPanel{{$index}}">
        <div ng-repeat="plot in graph.plots" class="panel-heading"
             id="plotPanel{{$parent.$index + '-' + $index}}">
            <button ng-click="plt.removePlotFromGraph($index, $parent.$index)" type="button"
                    name="remove" class="btn btn-primary btn-block btn-xs">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>

            <div ng-show="plt.graphs[$parent.$index].graphType != 'HIST'">

                <div class="panel panel-default">

                    <input ng-model="plt.graphs[$parent.$index].plots[$index].label" type="label"
                           class="form-control" placeholder="Label">

                    <div ng-show="plt.graphs[$parent.$index].graphType == '2D'"
                         class="plot-type-bar">
                        <ul class="nav nav-pills nav-justified">
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'lines' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'lines')"><img
                                        data-toggle="tooltip" data-placement="top" title="lines"
                                        src='@{routes.Assets.versioned("images/icons/ico_lines.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'points' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'points')"><img
                                        data-toggle="tooltip" data-placement="top" title="points"
                                        src='@{routes.Assets.versioned("images/icons/ico_points.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'linespoints' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'linespoints')"><img
                                        data-toggle="tooltip" data-placement="top"
                                        title="lines and points"
                                        src='@{routes.Assets.versioned("images/icons/ico_linespoints.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'filledcurve' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'filledcurve')"><img
                                        data-toggle="tooltip" data-placement="top"
                                        title="filled curve"
                                        src='@{routes.Assets.versioned("images/icons/ico_filledcurve.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'xerrorbars' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'xerrorbars')"><img
                                        data-toggle="tooltip" data-placement="top"
                                        title="x-error bars"
                                        src='@{routes.Assets.versioned("images/icons/ico_xerror.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'yerrorbars' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'yerrorbars')"><img
                                        data-toggle="tooltip" data-placement="top"
                                        title="y-error bars"
                                        src='@{routes.Assets.versioned("images/icons/ico_yerror.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'xyerrorbars' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'xyerrorbars')"><img
                                        data-toggle="tooltip" data-placement="top"
                                        title="xy-errorbars"
                                        src='@{routes.Assets.versioned("images/icons/ico_xyerror.png")}'></a>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="plt.graphs[$parent.$index].graphType == '3D'"
                         class="plot-type-bar">
                        <ul class="nav nav-pills nav-justified">
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'lines' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'lines')"><img
                                        data-toggle="tooltip" data-placement="top" title="lines"
                                        src='@{routes.Assets.versioned("images/icons/ico_lines.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'points' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'points')"><img
                                        data-toggle="tooltip" data-placement="top" title="points"
                                        src='@{routes.Assets.versioned("images/icons/ico_points.png")}'></a>
                            </li>
                            <li ng-class="plt.graphs[$parent.$index].plots[$index].plotType == 'linespoints' ? 'active' : '' ">
                                <a data-toggle="pill"
                                   ng-click="plt.changePlotType($parent.$index, $index, 'linespoints')"><img
                                        data-toggle="tooltip" data-placement="top"
                                        title="lines and points"
                                        src='@{routes.Assets.versioned("images/icons/ico_linespoints.png")}'></a>
                            </li>
                        </ul>
                    </div>


                    <ul class="nav nav-pills nav-justified">
                        <li ng-hide="plt.graphs[$parent.$index].plots[$index].plotType.indexOf('error') > -1"
                            ng-class="{f:'active', d:''}[plt.graphs[$parent.$index].plots[$index].plotDataType]">
                            <a data-toggle="pill"
                               ng-click="plt.changePlotDataType($parent.$index, $index, 'f')">Function</a>
                        </li>
                        <li ng-class="{d:'active', f:''}[plt.graphs[$parent.$index].plots[$index].plotDataType]">
                            <a data-toggle="pill"
                               ng-click="plt.changePlotDataType($parent.$index, $index, 'd')">&nbsp;Data
                                set&nbsp;&nbsp;</a></li>
                    </ul>

                    <div class="tab-content">
                        <div ng-class="{f:'tab-pane active', d:'tab-pane'}[plt.graphs[$parent.$index].plots[$index].plotDataType]">
                            <input ng-model="plt.graphs[$parent.$index].plots[$index].dataFun"
                                   type="label" class="form-control" placeholder="Type function">
                        </div>
                        <div ng-class="{f:'tab-pane', d:'tab-pane active'}[plt.graphs[$parent.$index].plots[$index].plotDataType]">
                            <div class="row">
                                <div class="col-xs-7">
                                    <select class="form-control"
                                            ng-model="plt.graphs[$parent.$index].plots[$index].dataFile"
                                            data-width="200px">
                                        <option ng-repeat="file in plt.files" value="{{file.name}}">
                                            {{file.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-xs-1">
                                    <button ng-click="plt.viewFile($parent.$index, $index)"
                                            type="button" class="btn btn-info" data-toggle="modal"
                                            data-target="#viewFile"><span
                                            class="glyphicon glyphicon-search"></span></button>
                                </div>


                                <div class="col-xs-4" placeholder="using">
                                    <input placeholder="using"
                                           ng-model="plt.graphs[$parent.$index].plots[$index].using"
                                           type="label" class="form-control">
                                </div>

                            </div>

                            <div ng-show='plt.graphs[$parent.$index].plots[$index].dataFile == ""'>
                                <div class="alert alert-danger">
                                    <strong>Invalid!</strong> Select a file! You want upload some
                                    files go to: <a href="@routes.AppController.filesPage">Files</a>.
                                    (Remember to save your project.)
                                </div>
                            </div>

                            <div ng-show="plt.checkUsing($parent.$index, $index)">
                                <div class="alert alert-danger">
                                    <strong>Invalid!</strong> Incorrect using command! <br>
                                    {{plt.usingTipDescr}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="container-fluid"
                         ng-show="plt.graphs[$parent.$index].graphType == '2D' || plt.graphs[$parent.$index].graphType == '3D'">

                        <div ng-show="plt.graphs[$parent.$index].plots[$index].plotType == 'lines' || plt.graphs[$parent.$index].plots[$index].plotType == 'linespoints'">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="selectpicker"
                                            ng-model="plt.graphs[$parent.$index].plots[$index].lineType"
                                            data-width="70px">
                                        <option data-content='<img src="@{routes.Assets.versioned("images/lines/line1.png")}">'>1</option>
                                        <option data-content='<img src="@{routes.Assets.versioned("images/lines/line2.png")}">'>2</option>
                                        <option data-content='<img src="@{routes.Assets.versioned("images/lines/line3.png")}">'>3</option>
                                        <option data-content='<img src="@{routes.Assets.versioned("images/lines/line4.png")}">'>4</option>
                                        <option data-content='<img src="@{routes.Assets.versioned("images/lines/line5.png")}">'>5</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <p class="align-middle">width:</p>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text"
                                           ng-model="plt.graphs[$parent.$index].plots[$index].lineWidth"
                                           class="form-control" placeholder="size">
                                </div>
                            </div>

                            <div class="row"
                                 ng-show="!plt.checkLineWidth(plt.graphs[$parent.$index].plots[$index].lineWidth)">
                                <div class="alert alert-danger">
                                    <strong>Invalid!</strong> Type only natural numbers.
                                </div>
                            </div>
                        </div>

                        <div ng-show="plt.graphs[$parent.$index].graphType == '2D' || plt.graphs[$parent.$index].graphType == '3D'">
                            <div ng-show="plt.graphs[$parent.$index].plots[$index].plotType == 'points' || plt.graphs[$parent.$index].plots[$index].plotType == 'linespoints'">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <select class="selectpicker"
                                                ng-model="plt.graphs[$parent.$index].plots[$index].pointType"
                                                data-width="70px">
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point2.png")}">'>1</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point3.png")}">'>2</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point4.png")}">'>3</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point5.png")}">'>4</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point1.png")}">'>5</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point6.png")}">'>6</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point7.png")}">'>7</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point8.png")}">'>8</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point9.png")}">'>9</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point10.png")}">'>10</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point11.png")}">'>11</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point12.png")}">'>12</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point13.png")}">'>13</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point14.png")}">'>14</option>
                                            <option data-content='<img src="@{routes.Assets.versioned("images/points/point15.png")}">'>15</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="align-middle">width:</p>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text"
                                               ng-model="plt.graphs[$parent.$index].plots[$index].pointSize"
                                               class="form-control" placeholder="size"
                                               id="pointWidth">
                                    </div>

                                </div>

                                <div class="row"
                                     ng-show="!plt.checkPointSize(plt.graphs[$parent.$index].plots[$index].pointSize)">
                                    <div class="alert alert-danger">
                                        <strong>Invalid!</strong> Type only positive numbers.
                                    </div>
                                </div>
                            </div>

                            <div ng-show="plt.graphs[$parent.$index].plots[$index].plotType == 'filledcurve'">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <p class="align-middle">type:</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="selectpicker"
                                                ng-model="plt.graphs[$parent.$index].plots[$index].fillType"
                                                data-width="100px">
                                            <option>x1</option>
                                            <option>x2</option>
                                            <option>y1</option>
                                            <option>y2</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-2">
                                        <p class="align-middle">fill:</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="selectpicker"
                                                ng-model="plt.graphs[$parent.$index].plots[$index].patternType"
                                                data-width="100px">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                        </select>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group" id="plotColor">
                                        <input colorpicker="rgb" colorpicker-parent="true"
                                               colorpicker-position="right" type="text"
                                               ng-model="plt.graphs[$parent.$index].plots[$index].color"
                                               class="form-control"/>
                                                            <span class="input-group-addon">
                                                                <svg width="40" height="18">
                                                                    <rect width="40" height="18"
                                                                          style="fill:{{plt.graphs[$parent.$index].plots[$index].color}}"/>
                                                                </svg>
                                                            </span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <br>
                    </div>
                </div>
            </div>

            <div ng-show="plt.graphs[$parent.$index].graphType == 'HIST'">
                <div class="panel panel-default">
                    <div class="container-fluid">
                        <br>

                        <div class="row">
                            <div class="col-xs-7">
                                <select class="form-control"
                                        ng-model="plt.graphs[$parent.$index].plots[$index].dataFile"
                                        data-width="200px">
                                    <option ng-repeat="file in plt.files" value="{{file.name}}">
                                        {{file.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-xs-1">
                                <button ng-click="plt.viewFile($parent.$index, $index)"
                                        type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#viewFile"><span
                                        class="glyphicon glyphicon-search"></span></button>
                            </div>

                            <div class="col-xs-4" data-placement="left" data-toggle="popover"
                                 data-trigger="focus"
                                 data-content="format: `a` <br/>a - column with data (greater than 1)">
                                <div>
                                    <input placeholder="using"
                                           ng-model="plt.graphs[$parent.$index].plots[$index].using"
                                           type="label" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div ng-show="!plt.matchedNatural(plt.graphs[$parent.$index].plots[$index].using, 2, 999)">
                            <div class="alert alert-danger">
                                <strong>Invalid!</strong> Incorrect using command!
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input colorpicker="rgb" colorpicker-parent="true"
                                           colorpicker-position="right" type="text"
                                           ng-model="plt.graphs[$parent.$index].plots[$index].color"
                                           class="form-control"/>
                                                            <span class="input-group-addon">
                                                                <svg width="40" height="18">
                                                                    <rect width="40" height="18"
                                                                          style="fill:{{plt.graphs[$parent.$index].plots[$index].color}}"/>
                                                                </svg>
                                                            </span>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>