@()

@main("WebPlot", 0) {

<div class="container-fluid content">

    <div class="row">
        <div class="tab-content">
            <div ng-show="!plt.isAnyProjectLoaded()">
                <h2 class="text-center">Select or create new project.</h2>
            </div>
            <div ng-repeat="graph in plt.graphs" id="tab-{{$index}}"
                 class="tab-pane fade in {{$index == 0 ? 'active' : ''}}">
                <div class="col-sm-3">
                    @tags.plotsPanel()
                </div>

                <div class="col-sm-6">
                    @tags.screenPanel()
                </div>

                <div class="col-sm-3">
                    @tags.graphsPanel()
                </div>
            </div>

            <div id="layout" class="tab-pane fade">
                @tags.layoutPanel()
            </div>
        </div>

        <div id="pagination" class="text-center" hidden>
            <ul id="plot-pagination" ng-model="plt.currentGraph" class="nav pagination pagination-lg">
                <li ng-repeat="n in plt.graphs"><a data-toggle="tab" href="#tab-{{$index}}">{{$index + 1}}</a></li>
                <li><a data-toggle="tab" href="#layout" ng-click="plt.calculateAllPages()"
                       ng-hide="plt.project == undefined">Layout</a></li>
            </ul>
        </div>

    </div>

    <!-- for downloading files-->
    <a href='/generatedProject/' id="download" hidden>link</a>

    <!--Modal-->
    @tags.modals.fileInfoWindow()

    <!--Modal-->
    @tags.modals.newProjectWindow()

    <!--Modal-->
    @tags.modals.removeProjectWindow()

</div>

}
